[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking
Environment=JAVA_HOME={{ tomcat.java_home }}

ExecStart={{ tomcat.tomcat_home }}/bin/startup.sh
ExecStop={{ tomcat.tomcat_home }}/bin/shutdown.sh

SuccessExitStatus=143

User=root
Group=root

[Install]
WantedBy=multi-user.target
